.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
}

.navbar .logo img {
    height: 50px; 
    max-width: 100px;

}

.navbar .menu {
    display: flex;
    gap: 20px;
    margin-right: auto; 
}

.navbar .menu a {
    text-decoration: none;
    color: #AE8953;
    font-size: 16px;
    font-weight: bold;
}

 .navbar .user-dropdown {
    margin-left: auto;

 }
 
.navbar select {
    padding: 5px;
    font-size: 14px;
} 


 .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: #774C1C;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 8px;
}

.dropdown-menu a:hover {
    color: #774C1C;
}

.header {
    background-image: url('gambar/GambarKota/background\ header.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}
.header hr{
    width: 40%; 
    border: none;
    height: 1px;
    background-color: #ffffff; 
    margin: 5px auto; 
}

/*  search bar */
.search-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 25px;
    background: #D9D9D9;
    border-radius: 12px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI', Arial, sans-serif;
    margin-top: -100px;
    height: 350px;
    position: relative;
} 



.form-group {
    margin-bottom: 20px;
} 

.location-input {
    width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          /* border-bottom-left-radius: 0;
          border-bottom-right-radius: 0; */
          border-radius: 8px;
          cursor: pointer;
}


.location-suggestions {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
    z-index: 999;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    max-height: 150px;
    overflow-y: auto;
    background: #faf9f7;
}
  .input-wrapper {
    position: relative;
    width: 100%;
  }

  #locationDropdown {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    z-index: 1000;
  }

.popup {
    position: absolute;
    top: calc(100% + 4px); /* 4px jarak dari input */
    left: 50%; /* Tambahkan ini */
    transform: translateX(-50%); /* Tambahkan ini */
    width: 100%;
    max-width: 1083px;
          background: white;
          border: 1px solid #ccc;
          border-top: none; 
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          z-index: 1000;
          display: none;
          box-shadow: 0 4px 10px rgba(0,0,0,0.1);
          margin-top: 4px; /* Jarak kecil dari input */
  }
  
  .popup-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .popup.show {
    display: block;
    max-width: 1083px;  /* Anda bisa sesuaikan sesuai kebutuhan */
    background: #ffffff;
    border-radius: 12px;    
    width: 100%;  /* Tambahkan untuk menjamin penuh dari elemen induk */
    margin-top: 10;
  }

  .popup-body {
    padding: 15px;
  }

  .popup h4 {
    margin-top: 0;
  }


  .dropdown-title {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 16px;
  }

  .city-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .city-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #eee;
  }

  .city-list li:hover {
    background-color: #f0f0f0;
  }

.date-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: nowrap;      
    width: 100%;            
    box-sizing: border-box;
}

/* .date-box {

    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.date-input {
    width: 50%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
} */

.date-box {
    position: relative; /* Membuat posisi relatif untuk penempatan absolut ikon */
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
    align-items: center; /* Pusatkan vertikal */
}

.date-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
    padding-right: 25px; /* Beri ruang untuk ikon di kanan */
    background: transparent; /* Pastikan background transparan */
}

/* Style untuk ikon kalender (diasumsikan menggunakan pseudo-element) */
.date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px; /* Posisikan di kanan */
    cursor: pointer;
}

/* PERBAIKAN UTAMA */
.section-title {
    display: flex;
    margin-bottom: 8px;
}

.label-container {
    display: flex;
    width: 100%;
    align-items: center; /* Ini kunci utamanya */
}

.check-in-label, 
.duration-label, 
.check-out-label {
    flex: 1;
    height: 100%; /* Pastikan mengambil tinggi penuh */
    display: inline-flex;
    align-items: center; /* Pusatkan vertikal */
}

.check-in-label {
    justify-content: flex-start;
    padding-left: 12px;
}

.duration-label {
    justify-content: center;
}

.check-out-label {
    justify-content: flex-end;
    padding-right: 12px;
}

.duration-box {

    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.malam {
    margin-left: 5px;
}


.duration-counter {
    display: flex;
    align-items: center;
}

.duration-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.duration-value {
    margin: 0 5px;
    min-width: 15px;
    text-align: center;
    font-size: 14px;
}

.search-row {
    display: flex;
    align-items: center; /* sejajarkan vertikalnya */
    gap: 10px; /* beri jarak antara input dan tombol */
    margin-bottom: 20px;
}

.guest-room-box {
    width: 86%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    background: white;
    cursor: pointer;
    position: relative;
}

.guest-room-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 10;
    display: none;
    margin-top: 5px;
}

.guest-room-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.guest-room-label {
    font-weight: bold;
}

.counter {
    display: flex;
    align-items: center;
}

.counter-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.counter-value {
    margin: 0 15px;
    min-width: 20px;
    text-align: center;
}

.apply-btn {
    width: 100%;
    padding: 10px;
    background: #8b5e3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.main-label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
}

.sub-label {
    font-size: 12px;
    color: #666;
}

.section-title {
    display: block;
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
    font-weight: 600;
}




/* Button Cari */
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    height: 45px; 
    background: #8b5e3c;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}



/* hotel */

body {
    font-family: Roboto, sans-serif;
    background-color: #f5efe4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 5px; 
    display: flex;

    
    justify-content: center;
     flex-wrap: wrap;  
}

.hotel-title::before {
    content: "♦";
    font-size: 1.5rem;
    margin: 0 10px;
    color: #FFD034;
}


h4 {
    color: #0a0a0a;
    display: inline-block;
}

.hotel-favorit {
    margin-bottom: 40px;
    margin: 10px;
}

.hotel-card {
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    width: 300px;
    overflow: hidden; 
    margin: 20px; 

}

.hotel-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.hotel-info {
    padding: 15px;
}

.hotel-name {
    font-size: 24px;
    margin: 2px 0;
}

.hotel-location {
    font-size: 14px;
    color: #777;
}

.hotel-address {
    font-size: 12px;
    color: #9b9a9a;
}

.hotel-rating {
    margin: 10px 0;
}

.hotel-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.price {
    font-weight: bold;
    color: #333;
}

/* pilihan selengkapnya */

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    align-items: center; 
}


.hotel-button {
    background-color: #754C24; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.hotel-button:hover {
    background-color: #5a3a1a; 
}



/* rekomendasi kota */

.kota-title::before {
    content: "♦";
    font-size: 1.5rem;
    margin: 0 10px;
    color: #FFD034;
}

h4 {
    color: #0f0e0e;
    display: inline-block;
    
}


.kota-rekomendasi {
    margin-bottom: 40px;
    margin: 15px;
}

.kota hr{
    width: 35%; 
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin: 5px auto; 
}

.kota{
    width: 80%;
    margin: auto;
    padding: 50px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.kota-card {
    position: relative;
    width: 255px; 
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
}

.image {

    width: 300px;
    height: 295px;
    object-fit: cover;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(139, 69, 19, 0.7), rgba(255, 255, 255, 0.0));
}

.nama-kota {
    position: absolute; 
    bottom: 250px; 
    left: 15px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    align-items: center; 
}

.kota-button {
    background-color: #754C24; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
    
}

.kota-button:hover {
    background-color: #5a3a1a; 
}



/* footer */

footer {
    background-color: #ccc; 
    padding: 30px 0;
    color: #5e3c1b; 
}

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    width: 40%;
}

.footer-logo img {
    width: 200px; 
    height: auto;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-links, .footer-social {
    width: 25%;
}

.footer-links h3, .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-social ul li {
    margin-bottom: 8px;
}

.footer-links ul li a, .footer-social ul li a {
    text-decoration: none;
    color: #5e3c1b;
    font-size: 14px;
}

.footer-social ul li a i {
    margin-right: 8px;
}


